body{
    background-color:#d4e4ff;
  }
  @media only screen and (max-width:520Px){
    header{
      color: black;
      background-color: aqua;
      font-weight: bold;
      
  }
  
  nav{
      background-color:#8fb8ff;
      padding-top: 5px;
      font-size: 1em;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float:right
  }
  nav li a {
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 5pt;
  }
  
  nav img{
    float: left;
    width:20px;
  
  }
  nav a:hover {
    background-color:blue;
    color: black;
  }
  article{ 
      border-color: black;
      padding-top: 5px;
      background-color:#81afff;
      font-size: 5pt;
      text-align: center;
      border-style: solid;
      
  }
  section{
  
    background-color:#a1c3ff;
      border-style:solid; border:50pt; border-color: black;
      padding-top: 5px;
  
  }
  Form{
    text-align: center;
    font-size: 5pt;
  }
  footer{
    font-size: 6pt;
    background-color:lightblue;
    text-align: center;
  }
  img{
    float: right;
    width: 50px;
  }
  }
  
  @media only screen and (min-width:520px) and (max-width:720Px){
    header{
      color: black;
      background-color: aqua;
      font-weight: bold;
  
      
  }
  
  nav{
      background-color: #88b4ff;
      padding-top: 5px;
      font-size: 12pt;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 12pt;
  }
  
  nav li {
    float:right
  }
  nav li a {
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 1em;
  }
  
  nav img{
    float: left;
  
  }
  nav a:hover {
    background-color:blue;
    color: black;
  }
  article{ 
      border: 5px;
      border-color: black;
      padding-top: 5px;
      background-color:#81afff;
      border-style: solid;
      font-size: 8pt;
  }
  section{ 
    background-color:#a1c3ff;
      border-style:solid; border:50pt; border-color: black;
      padding-top: 5px;
  
  }
  Form{
    text-align: center;
  }

  Img{
    width:100px;
    float: right;
  }
  footer{
    font-size: 8pt;
    background-color:lightblue;
  }
  }
  
  @media only screen and (min-width:720px){
    header{
      color: black;
      background-color: aqua;
      font-weight: bold;
  }
  
  nav{
      background-color:#88b4ff;
      padding-top: 5px;
      font-size: 24pt;
  }
  article img{
    float: right;
    width: 250px;
    }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 24pt;
  }
  
  nav li {
    float:right
  }
  nav li a {
    color: black;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 24pt;
  }
  
  nav img{
    float: left;
  
  }
    nav a:hover {
    background-color:blue;
    color: black;
  }
  article{ 
      border: 5px;
      border-color: black;
      padding-top: 5px;
      background-color:#81afff;
      font-size: 1.5em;
      border-style: solid;
      font-size: 24pt;
  }
  section{ 
      background-color: #a1c3ff;
      border-style:solid; border:50pt; border-color: black;
      padding-top: 5px;
  
  }
  
  Form{
    text-align: center;
  }

  #form{
    grid-row: 2;
    grid-column: 2/2;
    border-style: solid; border-color: black; border-width: 5px;
    font-size: 24pt;
  }
  
  footer{
    font-size: 24pt;
    background-color:lightblue;
    text-align: center;
  }
}